{% extends 'base.html' %} {% block content %}
<center>
  <style>
    .jumbotron {
      background-color: #0b3d91;
      color: white;
    }
    h1 {
      color: #0b3d91;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
    }
    p {
      color: #333;
      font-size: 18px;
      line-height: 1.5;
      text-align: justify;
      margin-bottom: 50px;
    }
    .btn-info {
      background-color: #0b3d91;
      border-color: #0b3d91;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-top: 50px;
    }
  </style>

  <div
    class="jumbotron bg-cover d-flex align-items-center"
    style="background-image: url('../static/images/mosque.jpg'); height: 50vh"
  >
    <h1 class="text-center text-bold text-white display-4">The Institute</h1>
  </div>
  <div class="container my-5">
    <h1>Sheikh Hasina National Institute of Youth Development</h1>
    <p class="text-justify">
      The Sheikh Hasina National Institute of Youth Development is a premier
      youth development organization in Bangladesh, dedicated to empowering the
      youth and helping them achieve their full potential. With a focus on
      leadership development, skills training, and community engagement, the
      Institute has been making a positive impact on the lives of young people
      for over two decades. Our mission is to create a world where young people
      are equipped and motivated to lead, serve, and make a difference in their
      communities.
    </p>
    <p>
      Sheikh Hasina National Institute of Youth Development (SHNIYD) is a
      premier institution dedicated to the development and empowerment of youth
      in Bangladesh. Established in the year 2017, the institute has been at the
      forefront of creating opportunities and providing support for young
      individuals to reach their full potential.
    </p>
    <p>
      SHNIYD offers a wide range of programs and services aimed at promoting
      youth development and leadership, including training and capacity
      building, career counseling, and mentorship opportunities. With a focus on
      innovation and sustainability, the institute is committed to creating a
      positive impact in the lives of young people and the communities they
      serve.
    </p>
    <button class="btn btn-info">
      <a href="{% url 'contact' %}">Contact Us </a>
    </button>
  </div>
</center>
{% endblock %}
