{% extends 'base.html' %} {% block content %}

<style>
  .home-section {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("");
  }
</style>

<section class="home-section">
  <div class="content">
    <h2>Admissions Open</h2>
    <p>
      Join the
      <span class="highlight">
        Sheikh Hasina National Institution of Youth Development
      </span>
      and be a part of our mission to shape the future leaders of Bangladesh.
    </p>

    <a href="{% url 'input_data' %}">Apply Now</a>
  </div>
</section>

{% endblock %}
