{% extends 'base.html' %} {% block content %}
<!-- 
  <style>
    h3 {
      color: antiquewhite;
      border-radius: 5px;
      padding: 5px;
      margin: 4px;
      background-color: #3650d6;
    }
    form {
      width: 60%;
      margin: 0 auto;
      padding: 30px;
      background-color: #fafcfe;
      border: 1px solid #290cbc;
      border-radius: 10px;
      box-shadow: 2px 2px 10px #3324bd;
      text-align: center;
    }

    form p {
      margin-bottom: 15px;
    }

    form label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
      color: #3650d6;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 2px 2px 10px #cfd6dc;
      font-size: 16px;
    }

    form button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #3039b2;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
    }

    form button[type="submit"]:hover {
      background-color: #5e12a4;
    }
  </style> -->

  <style>
    .form-div{
      background: #0984e3;
      color: white;
      width: 45%;
      border-radius: 10px;
      box-shadow: 20px 20px 30px -20px black;
    }
    #id_name, #id_email, #id_selected_course, #id_father_name, #id_father_contact, #id_district{
      display: block;
      width: 100%;
      padding: 2px;
      border: 1px solid rgb(126, 124, 124);
      border-radius: 5px;
    }
    label{
      font-size: 17px;
    }
  </style>
<div class="container d-flex justify-content-center mt-3">
  <div class="form-div px-5 py-3">
    <form action="{% url 'update'  %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>

  <!-- <style>
    form {
      width: 50%;
      margin: 0 auto;
      padding: 30px;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 2px 2px 10px #ddd;
      text-align: center;
    }

    form p {
      margin-bottom: 15px;
    }

    form label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    form button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    form button[type="submit"]:hover {
      background-color: #3e8e41;
    }
  </style> -->

  <!-- 
  <form action="{% url 'update'  %}" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Submit</button>
  </form> -->

  <!-- the orginal one here -->
  <!-- <form action="{% url 'update'  %}" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Submit</button>
  </form> -->
</center>
{% endblock %}
