<style>
  .navbar {
    background-color: #3867d6;
  }
  .nav-item {
    color: white;
    text-align: center;
  }

  .navbar-brand img {
    height: 55px;
    width: 70px;
  }
  .fs {
    font-size: 18px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark px-5">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"
      ><img src="../static/images/logo.png" alt="shniyd"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto fs mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'course_list' %}">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admit_form' %}">Admission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
