<style>
  .navbar {
    background: linear-gradient(to right, #14045c, #02011f);
  }

  .nav-item {
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
  }

  .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navbar-brand img {
    height: 40px;
    width: 40px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"
      ><img
        src="../static/images/logopro (3).jpeg "
        alt="shniyd"
        width="56px"
        height="32px"
        style="border-radius: 46%"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'course_list' %}">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admit_form' %}">Admission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
